$blue: #036CB7;

$body-color: #333333;

$font-family-sans-serif: rubik, system-ui, -apple-system, "segoe UI", Roboto, "Helvetica Neue", "Noto Sans", "Liberation Sans", Arial, sans-serif, "apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";

$headings-font-weight: 700;